@media (max-width: 992px) and (min-width: 768px) {

    /* ########## HEADER ########## */

    header {
        display: flex;
        flex-flow: row;

    }

    header nav {
        width: 40%;
        justify-self: flex-end;
    }



    /* ########## MAIN ########## */


    .grande_vitrine {
        flex-flow: column;
    }

    .vitrine1 {
        padding-inline: 3%;

        width: 94%;

        margin-bottom: 3%;
    }

    .vitrine1 h1 {
        margin-bottom: 3%;
        margin-top: 2%;
        margin-left: 1%;
    }


    .container {
        flex-flow: row wrap;
        justify-content: space-between;

    }



    .container article h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;
    }

    .container article p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

    }

    #afficher_plus {
        margin-top: 5%;
        margin-bottom: 3%;
    }

    .rank1 {
        padding-bottom: 2%;
    }

    .rank1 img {
        width: 12px;
        height: 12px;
    }

    .vitrine2 {
        width: 96%;

        margin-top: 4%;
        margin-bottom: 4%;
        margin-inline: 0;
        padding-inline: 2%;
        padding-top: 2%;

        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;



    }

    .vitrine2 h1 {
        margin-bottom: 3%;
        margin-top: 2%;


    }

    .vitrine2 article {

        margin-top: 0;

        width: 16em;

        height: fit-content;
    }

    .container2 {
        margin-bottom: 2%;
    }






    .container2 h3 {
        margin-top: 5%;
    }



    .wrapper_vitrine2 {
        display: flex;

    }


    .wrapper_vitrine2 .rank11 {

        display: flex;
        box-sizing: content-box;

        margin-inline: 0;
        padding-inline: 2%;
        margin-top: 2%;

        max-height: 12px;


    }


    .rank11 img {
        width: 12px;
    }


    .container2 {
        display: flex;
        justify-content: space-between;
    }

    .vitrine2 h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
    }


    .vitrine2 p {
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;

        margin-top: 0;
        margin-bottom: 0;

    }


    .img_title2 {
        width: 106px;
        height: 144px;


    }


    .wrapper_vitrine3 h1 {
        margin-bottom: 4%;
    }

    .wrapper_vitrine3 section article img {
        height: 211px;

    }

    .wrapper_vitrine3 article {
        height: 265px;

        
    }

    .wrapper_vitrine3 article h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 19px;

        margin-top: 5%;
        margin-bottom: 0;
    }

    .wrapper_vitrine3 section :nth-child(3) h3 {
        margin-top: 0;

    }


    .wrapper_vitrine3 section :nth-child(4) h3 {
        margin-top: 0;
    }


}